p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  text-decoration: none;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.conteiner {
  min-width: 288px;
}
/* =============HEADER=========== */
/* ================SECTION 2 */ /* ================SECTION 2 */
/* ================SECTION 2 */ /* ================SECTION 2 */
/* ================SECTION 2 */ /* ================SECTION 2 */
/* ================SECTION 2 */ /* ================SECTION 2 */
.section-two {
  padding: 96px 16px;
}
.main-two-section {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.two-section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 72px;
}
.two-section-text-last {
  margin-bottom: 72px;
}
.advantages-icons {
  display: none;
}

/* ==============customers================================================================================ */
/* ==============customers================================================================================ */
/* ==============customers================================================================================ */
/* ==============customers================================================================================ */
/* ==============customers================================================================================ */
.section-five {
  padding: 96px 16px;
}
.section-customers {
  display: flex;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  justify-content: center;
}

.customer-flex {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

.customer-box {
  padding: 16px 40px;
  border-radius: 4px;
  border: #8e8f99 solid 1px;
  box-sizing: border-box;
  width: 190px;
  height: 88px;
  color: #8e8f99;
}
.customers-icons {
  fill: #8e8f99;
}
@media screen and (min-width: 768px) {
  .section-five {
    padding-top: 96px;
  }
  .customer-flex {
    column-gap: 24px;
  }
  .customer-box {
    width: 168px;
    padding: 16px 32px;
  }
}
/* ====================CUSTOMERS================ */

/* =============FOOTER======================
  =============FOOTER======================
  =============FOOTER======================
  =============FOOTER====================== */
.main-footer {
  min-width: 320px;
  background-color: #2e2f42;
  padding: 97.5px 15px 96px 15px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  justify-content: center;
}
.studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-pharagrafe {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 2;
  margin-top: 17.5px;
}
.social-text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.28;
  color: #ffffff;
  margin-top: 72px;
  justify-content: center;
}
.footer-button {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  display: flex;
  fill: #ffffff;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  gap: 16px;
  margin: auto;
}
/* ============МОДАЛКА  НИЖНЯ======================== */
.desktop-modal {
  display: none;
}
